<div class="tasks">
    <app-taskbox (taskToDelete)="deleteTask($event)" (taskComplete)="completeTask($event)" (taskToEdit)="editTask.edit($event)" [tasks]="primary1Task" title="Bardzo ważene"></app-taskbox>
    <app-taskbox (taskToDelete)="deleteTask($event)" (taskComplete)="completeTask($event)" (taskToEdit)="editTask.edit($event)" [tasks]="primary2Task" title="Średnio ważne"></app-taskbox>
    <app-taskbox (taskToDelete)="deleteTask($event)" (taskComplete)="completeTask($event)" (taskToEdit)="editTask.edit($event)" [tasks]="primary3Task" title="Mało ważne"></app-taskbox>
    <!-- Edit component -->
</div>
<app-task-edit (editedTask)="editTaskssss($event)" #editTask></app-task-edit>
