@import '../../../colors.scss';

.tasks {
  &__box {
    border-left: 1px dashed;
    border-right: 1px dashed;
    height: 100vh;

    &-heading {
      text-align: center;
      padding: 1em 0;
      border-bottom: 1px dashed;
    }

    display: flex;
    flex-direction: column;
  }


  ul {
    list-style: none;
  }
}



.task {
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;

  &__list {
    overflow: auto;
  }

  &__content {
    margin: 0 1rem;
  }

  &__date {
    width: 100%;
    text-align: center;
  }

  &__btn {
    border: none;
    background-color: #fff;
    color: $dark-blue;
    margin-bottom: 1rem;
    padding: 0.3em 1.5em;
    font-size: 1em;
    cursor: pointer;
  }

  &--done {
    p {
      text-decoration: line-through;
    }

    .task__btn--edit {
      display: none;
    }

    .task__checkbox {
      display: none;
    }
  }
}
